body{
     margin: 0;
}
div{
     background: #79a3b1;
     border: 10px solid black;
     padding: 20px;
     height: 200px;
     width: 200px;
}
h1{
     margin-top: 0;
}

.top{
     background-color: red;
     border: 20px solid black;
     margin-left: 260px;
}
.bottom{
     background-color: blue;
     border: 10px solid black;
     margin-left: 540px;
}
